# Entornos y secretos
.env
.env.production
backend/.env
*.env.local


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
venv/
ENV/
env.bak/
venv.bak/

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Base de datos y logs locales
*.log
data/
minjuventud_mysql_data/

# IDE y Sistema
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
