# Configuración MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_contraseña_aqui
DB_NAME=minjuventud

# Seguridad
SECRET_KEY=cambia_esto_por_una_clave_secreta_muy_larga
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Contraseña del sistema (único usuario)
SYSTEM_PASSWORD=Minj2026!
